.classpath
.settings
.project
.svn
.xtendbin
TP1-CIU-2017s1.iml
*._trace
*.java
*.java_trace
*.xtendbin
/target
/bin
/generated-sources/
/settings
/.idea
/src/main/generated-sources/xtend/xtend/.CarmenSandiegoWindow.xtendbin
/src/main/generated-sources/xtend/xtend/*.xtendbin
/src/main/generated-sources/xtend/xtend/.EditSignsWindow.xtendbin
/src/main/generated-sources/xtend/xtend/.EditVillainWindow.xtendbin
